<!-- templates/index.html -->  
<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>Cats</h1>
        <table>
            <tbody>
            {% for cat in cats_list %}
                <tr>
                    <td><img src="https://s3.amazonaws.com/zappa-test-cat/{{cat}}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  </body>
</html>  
