<!-- templates/index.html -->  
<html>  
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>Dogos</h1>
        <table>
            <tbody>
            {% for dog in dogs_list %}
                <tr>
                    <td><img src="{{dog}}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  </body>
</html>  
